.down__img{
    width: 1140px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    // border: 1px solid var(--grey-15, #262626);
    background: linear-gradient(0deg, rgba(172, 255, 36, 0.20) 0%, rgba(172, 255, 36, 0.20) 100%), url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, url(<path-to-image>), lightgray 50% / cover no-repeat;
    background-blend-mode: color, normal, overlay;
    position: relative;
    bottom: 52px;
    padding: 0;
}